.handlerDiv {
    margin-top: 25px;
    margin-left: 25px;
}

.label {
    font-weight: bold;
}

.handlerInput {
    left: 140px; 
    position: fixed;
    width: 300px;
}

.inputText {
    left: 460px; 
    position: fixed;
    width: 30px;
}

.buttonDiv {
    margin-top: 25px;
    margin-left: 25px;
}

.coloredBox {
    left: 140px; 
    position: fixed;
    height: 200px;
    width: 200px;
    margin-top: 20px;    
    background-color: rgb(0, 0, 0);
}